@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
  margin: 0px;
  font-family: 'Noto Sans KR', sans-serif;
}

.deleteButton {
  color: #aaaaaa;
}
.deleteButton:hover {
  cursor: pointer;
  color: #000000;
}
.like {
  position: absolute;
  top:3%;
  right:3%;
  color: #ffe400;
  opacity: .9;
  z-index:10000;
}
.like:hover {
  opacity: .5;
}

.detailOnOff {
  margin:0px 24px;
}

.iconButton:hover {
  opacity: .5;
  cursor: pointer;
}