@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0px 0px;
  font-family: "Noto Sans KR", sans-serif;
}
.like {
  position: absolute;
  top: 3%;
  right: 3%;
  color: #ffe400;
  opacity: 0.9;
  z-index: 2;
}
.like:hover {
  opacity: 0.5;
}
.goMyPage {
  z-index: 9999;
}
.detailOnOff {
  margin: 0px 24px;
}

.iconButton:hover {
  opacity: 0.5;
  cursor: pointer;
}

.textButton:hover {
  text-decoration: underline;
  opacity: 0.5;
  cursor: pointer;
}

.card .img {
  /* transition-duration: 1s; */
  overflow: hidden;
}
.card:hover .img > div {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
